.Equipment {
  display: flex;
  flex-direction: column;
  width: 65mm;
  border: solid 2px gray;
  border-radius: 2mm;
  background-color: white;
}

.EquipmentTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
}

.EquipmentContent {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.EquipmentContentItem {
  background-color: aqua;

}

.EquipmentContentCoins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35mm;

}

.EquipmentContentCoin {
  position: relative;
}

.EquipmentContentCoin label {
  position: absolute;
  top: 2mm;
  left: -3mm;
  background-color: white;
  border: solid 2px gray;
  border-radius: 40%;
  width: 5mm;
  height: 3mm;
  z-index: 1;
  font-size: 8px;
  padding-left: 0.5mm;
}

.EquipmentContent input {
  position: absolute;
  border: solid 2px gray;
  border-radius: 20%;
  width: 12mm;
  height: 6mm;
  text-align: center;
  z-index: 10;
  left: 1mm;
}

.EquipmentContent textarea{
  border: none;
  resize: none;
  width: 45mm;
  height: 60mm;
  margin: 1mm;
  font-size: 10px;
}

.EquipmentMagicItems {
  margin: 0 1mm 2mm 1mm;
}

.EquipmentMagicItemsCaption {
  font-size: 12px;
  font-weight: bold;
}

.EquipmentMagicItemName {
  width: 50mm;
  border: none;
  border-bottom: solid 1px gray;
  font-size: 10px;
}