.Proficiency {
  width: 65mm;
  height: 40mm;
  border: solid 2px gray;
  border-radius: 2mm;
  justify-content: flex-end;
  align-items: center;
}

.Proficiency textarea {
  margin-top: 1mm;
  width: 95%;
  height: 100%;
  resize: none;
  border: none;
  font-size: 10px;
}

.Proficiency label {
  text-align: center;
}
