.Weapon {
  width: 62mm;
  height: 60mm;
  border: solid 2px gray;
  border-radius: 2mm;
  padding: 1.5mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WeaponTitle {
  text-align: center;
}

.Weapon table {
  font-size: 9px;
  color: gray;
  text-align: left;
  width: 100%;
  height: 20mm;
}

.WeaponTable tr td {
}

.WeaponTable th label{
  font-size: 8px;
  height: 8mm;
}

.WeaponTable input {
  margin: 0;
  padding: 0;
  width: 20px;
  background-color: lightgray;
  border: none;
  font-size: 9px;
  height: 5mm;

}

.WeaponTableName input {
  width: 22mm;
}

.WeaponTableBonus input{
  width: 12mm;
  text-align: center;
}

.WeaponTableDamage input {
  width: 20mm;
  text-align: center;
}

.WeaponMemo {
  margin-top: 2mm;
  resize: none;
  height: 30mm;
  font-size: 10px;
  border: none;
}