.Organization {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 136mm;
  height: 100mm;
  border: solid 2px gray;
  border-radius: 2mm;
}

.OrganizationContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.OrganizationContentItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 90mm;
  margin: 2mm;
}

.OrganizationContentItem.Right {

}

.OrganizationContentItem textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
}