.Sheet3 {
  width: 100%;
}

.Sheet3Body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.Sheet3Col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67mm;
  height: 250mm;
  align-items: center;
}
