.App {
  width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin: 10px;
  font-size: 14px;
}

.AppShareButton {
  margin-left: 20px;
}

@media print{
  .AppHeader{
      display: none;
  }
}

.AppSaveButton {
  width: 120px;
  margin-right: 2mm;
}

.AppAutoSave {
  width: 200px;
  margin-right: 2mm;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppButtonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.AppButtonRow label{
  margin-right: 1mm;
  width: 60px;
}

.AppButtonRow.CCFOLIA button{
  margin-right: 2mm;
  width: 150px;
}


.Page {
  page-break-before: always;
}

.Sheet {
  width: 210mm;
  height: 295mm;
}

.Sheet.Border {
  border: solid 1px gray;
}
@media print{
  .Sheet.Border {
      border: none;
  }
}


.Content {
  width: calc(100% - 4mm);
  height: calc(100% - 4mm);
  margin: 2mm;
}

.AppFooter {
  font-size: 8px;
  margin: 0 10px 10px 10px;
  white-space: nowrap;
}

@media print{
  .AppHeader{
      display: none;
  }
}

@page {
  size: A4 portrait;
  margin: 5px;
}

@media print{
  .AppFooter{
      display: none;
  }
}
