.App {
  width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  font-size: 14px;
}

@media print{
  .AppHeader{
      display: none;
  }
}

.AppHeaderSave {
  width: 200px;
  margin-right: 10px;
}

.AppHeaderSave button {
  width: 200px;
  margin-bottom: 15px;
}

.AppHeaderAutoSave {
  width: 150px;
}

.Page {
  page-break-before: always;
}

.Sheet {
  width: 210mm;
  height: 295mm;
}

.Sheet.Border {
  border: solid 1px gray;
}
@media print{
  .Sheet.Border {
      border: none;
  }
}


.Content {
  width: calc(100% - 4mm);
  height: calc(100% - 4mm);
  margin: 2mm;
}

.AppFooter {
  font-size: 8px;
  margin: 0 10px 10px 10px;
  white-space: nowrap;
}

@media print{
  .AppHeader{
      display: none;
  }
}

@page {
  size: A4 portrait;
  margin: 5px;
}

@media print{
  .AppFooter{
      display: none;
  }
}
